.page-header {
    padding: 0;
    margin: 0;
    border-bottom: none;
}

.page-header__title-container:after {
    content: '';
    display: block;
    height: 1px;
    background: #dce2e6;
}

.page-header__title-container {
    position: relative;
    min-height: 60px;
    box-sizing: border-box;
}

.page-header__title-flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    min-height: 60px;
}

.page-header__title {
    display: inline-block;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin: 0 30px 0 0;
    height: 40px;
    max-width: 100%;
    padding: 0 10px 7px 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    font: 34px/34px "OpenSans-Light",Helvetica,Arial,sans-serif;
}

.work-area {
    width: 100%;
    padding: 16px 8px;
}

.work-area__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.work-area__header-search {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 500px;
}

.work-area__header-button {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    margin-left: 16px;
}

.work-area__content {
    margin-top: 16px;
}

.work-area-modal {
    padding: 0px 8px;
}

.work-area-modal__item {
    margin-bottom: 8px;
}

.work-area-modal__input-item {
    max-width: 500px;
    width: 90%;
}

.dictionary-block {
    width: 500px;
}

.dictionary-block__main-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    border-top: 1px solid #dcdcdc;
}
.dictionary-block:nth-child(odd) > .dictionary-block__main-info {
    background-color: #f2f2f2;
}

.dictionary-block__main-info-item {
    padding: 4px 4px;
}

.dictionary-block__main-info-item_bigger {
    padding: 8px 4px;
}

.dictionary-block__main-info-item_right {
    margin-left: auto;
}

.dictionary-block__main-info-item_color {
    margin-top: 8px;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid #a3a3a5;
}

.dictionary-block__details {
}

.search-row {
}

.search-row__small {
    width: 300px;
}

.flat-button {
    width: 150px;
    line-height: 30px;
    position: relative;
    border-radius: 4px;
}

.flat-button__small {
    width: 90px;
    font-size: 12px;
}

.flat-button__green {
    background-color: #5bc438;
}
    .flat-button__green:hover {
        background-color: #75da53;
    }

.flat-button__blue {
    background-color: #3bc8f5;
}
    .flat-button__blue:hover {
        background-color: #3eddff;
    }

.flat-button__caption {
    text-align: center;
    vertical-align: middle;
    display: block;
    color: white;
    cursor: pointer;
}
    .flat-button__caption:hover {
        text-decoration: none;
        color: #000000;

    }


.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.flex-container__item {
    margin-right: 8px;
}






/*todo по возможности переписать под бэм все, что лежит ниже*/ 
.navbar-blue {
    background-color: #003380;
    border-color: #080808;
}

.navbar-title {
    color: #ffffff;
}
.navbar-title:hover, .navbar-title:focus {
    color: #ffffff;
    background-color: transparent;
}

.top-menu-items > li > a {
    color: #ffffff;
}

.top-menu-items > li > a:hover,
.top-menu-items > li a:focus {
    color: #999999;
    background-color: transparent;
}

.pointer {
    cursor: pointer;
}

.top-menu-container {
    width: 90%;
}

.fa {
    font-size: 25px;
}

.inline {
    display: inline-block;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.invalid-input {
    border: 1px solid #a94442;
}

.content-wrapper {
    margin-left: 6%;
    margin-top: 20px;
}

.ui-btn {
    position: relative;
    background-color: #868d95;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    border-radius: 4px;
    font: 600 12px/39px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 180px;
}

.ui-btn:hover,
.ui-btn:focus { 
    text-decoration: none;
}

.ui-btn-primary {
    background-color: #3bc8f5;
    color: #fff;
}

.ui-btn-primary :hover {
    background-color: #3eddff;
}

.ui-btn-primary :active {
    background-color: #12b1e3;
}

.ui-btn-small {
    line-height: 30px;
    width: 90px;
    font-size: 11px;
}

.ui-btn-caption {
    width: 100%;
}

.content-with-margins > div {
    margin: 10px 0px;
}

.content-with-margins > a {
    margin: 10px 0px;
}


.margin-5-10 {
    margin: 5px 10px;
}
.margin-10-5 {
    margin: 10px 5px;
}
.td-10 {
    width: 10px;
}

.item-row:nth-child(even) {
    background-color: #f7f7f7;
}
.item-row:nth-child(odd) {
    background-color: #ededed;
}

.item-row.with-hover:nth-child(even):hover {
    background-color: #eff1ed;
}

.item-row.with-hover:nth-child(odd):hover {
    background-color: #eff1ed;
}

.action {
    border-bottom: 1px dashed #6f7b88;
    color: #6f7b88;
    cursor: pointer;
}

.crear-btn {
    font-size: 15px;
    position: absolute;
    margin-left: -18px;
    margin-top: 8px;
    color: #929292;
}



.list-row {
    margin: 5px 10px;
}

.list-row > tr {
    min-width: 300px;
}

.list-row > tr > td {
    padding: 6px;
}

.row-caption {
    min-width: 545px;
}

.info-row > td {
    padding: 0px 6px;
    min-width: 150px;
}