.navbar-blue {
    background-color: #003380;
    border-color: #080808;
}

.navbar-title {
    color: #ffffff;
}
.navbar-title:hover, .navbar-title:focus {
    color: #ffffff;
    background-color: transparent;
}

.top-menu-items > li > a {
    color: #ffffff;
}

.top-menu-items > li > a:hover,
.top-menu-items > li a:focus {
    color: #999999;
    background-color: transparent;
}

.pointer {
    cursor: pointer;
}

.top-menu-container {
    width: 90%;
}

.fa {
    font-size: 25px;
}

.inline {
    display: inline-block;
    width: 100%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.invalid-input {
    border: 1px solid #a94442;
}

.content-wrapper {
    margin-left: 6%;
    margin-top: 20px;
}

.ui-btn {
    position: relative;
    background-color: #868d95;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    border-radius: 4px;
    font: 600 12px/39px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 180px;
}

.ui-btn:hover,
.ui-btn:focus { 
    text-decoration: none;
}

.ui-btn-primary {
    background-color: #3bc8f5;
    color: #fff;
}

.ui-btn-primary :hover {
    background-color: #3eddff;
}

.ui-btn-primary :active {
    background-color: #12b1e3;
}

.ui-btn-caption {
    width: 100%;
}

.content-with-margins > div {
    margin: 10px 0px;
}

.content-with-margins > a {
    margin: 10px 0px;
}