.management-container {
    padding: 8px 32px;
}

.management-container__list {
    float: left;
    width: 220px;
    padding: 16px 8px;
}

.management-container__content {
    padding: 16px 8px;
    min-height: 400px;
    margin-left: 220px;
}

.management-container__list-group {
    padding-bottom: 8px;
}

.management-container__list-group:after {
    content: '';
    display: block;
    height: 1px;
    background: #dce2e6;
}
.management-container__list-group:last-child:after {
    content: none;
}

.management-container__list-item {
    padding: 4px;
}

.management-container__list-item:hover {
    background-color: #f3f3f3;
}

.management-container__list-item-link {
    display: block;
}

.management-container__list-item-link_selected {
    color: #3479b3;
    font-weight: bolder;
}

.management-container__list-item-link:focus,
.management-container__list-item-link:active,
.management-container__list-item-link:hover {
    text-decoration: none
}