<bs-modal #modal class="">
    <bs-modal-header>
        <h4 class="modal-title">{{title}}</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="work-area-modal">
            <div class="work-area-modal__item">
                <div>ФИО</div>
                <input class="work-area-modal__input-item" [(ngModel)]="fullName" />
            </div>
            <div class="work-area-modal__item">
                <div>Должность</div>
                <input class="work-area-modal__input-item" [(ngModel)]="appointment" />
            </div>
            <div class="work-area-modal__item">
                <div>Телефон</div>
                <input class="work-area-modal__input-item" [(ngModel)]="phoneNumber" />
            </div>
            <div class="work-area-modal__item">
                <div>Email</div>
                <input class="work-area-modal__input-item" [(ngModel)]="email" />
            </div>
            <div class="work-area-modal__item">
                <div>Пользователь системы</div>
                <input type="checkbox" [(ngModel)]="hasUser" />
            </div>
            <ng-container *ngIf="hasUser">
                <div class="work-area-modal__item">
                    <div>Администратор</div>
                    <input type="checkbox" [(ngModel)]="isAdmin" />
                </div>
                <div class="work-area-modal__item">
                    <div>Логин</div>
                    <input class="work-area-modal__input-item" [(ngModel)]="login" />
                </div>
                <div class="work-area-modal__item">
                    <div style="float: left; margin-right: 8px;">Пароль</div>
                    <span class="pointer glyphicon glyphicon-refresh" (click)="refreshPassword()"></span>
                    <div style="margin: 0 4px; opacity: 0.8;">{{password || '-----'}}</div>
                </div>
            </ng-container>
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <div class="flex-container">
            <div class="flex-container__item flat-button flat-button__blue flat-button__small" (click)="onApplyClick()">
                <a class="flat-button__caption">Сохранить</a>
            </div>
            <div class="flex-container__item flat-button flat-button__blue flat-button__small" (click)="onCancelClick()">
                <a class="flat-button__caption">Отмена</a>
            </div>
        </div>
    </bs-modal-footer>
</bs-modal>