<div class="page-header">
    <div class="page-header__title-container">
        <div class="page-header__title-flex-container">
            <div class="page-header__title">Группы</div>
        </div>
    </div>
</div>
<div class="work-area">
    <div class="work-area__header">
        <input #searchInput class="work-area__header-search search-row" [(ngModel)]="searchText" placeholder="Поиск" />
        <div class="work-area__header-button flat-button flat-button__green" (click)="onAddClick()">
            <a class="flat-button__caption">Добавить</a>
        </div>
    </div>
    <div class="work-area__content">
        <div class="work-area__content-delete">
            <span *ngIf="selected.length > 0" class="work-area__content-delete-span" (click)="onDeleteSeveralClick()">
                <span class="glyphicon glyphicon-remove"></span>
                Удалить ({{selected.length}})
            </span>
        </div>
        <div *ngFor="let group of groups" class="dictionary-block">
            <div class="dictionary-block__main-info">
                <div class="dictionary-block__main-info-item">
                    <input type="checkbox" (change)="onCheck($event, group)" />
                </div>
                <div class="dictionary-block__main-info-item">{{group.name}}</div>
                <div class="dictionary-block__main-info-item dictionary-block__main-info-item_right">
                    <span class="pointer glyphicon glyphicon-pencil" (click)="onEditClick(group)"></span>
                </div>
                <div class="dictionary-block__main-info-item">
                    <span class="pointer glyphicon glyphicon-trash" (click)="onDeleteClick(group)"></span>
                </div>
            </div>
            <div class="dictionary-block__details"></div>
        </div>
    </div>
</div>

<group-modal #modal (apply)="onModalApply($event)"></group-modal>