<div class="page-header">
    <div class="page-header__title-container">
        <div class="page-header__title-flex-container">
            <div class="page-header__title">Статистика по стоимости мероприятия</div>
        </div>
    </div>
</div>
<div class="work-area">
    <div class="work-area__content">
        <div class="stat-container">
            <div class="stat-container__description">
                Число участников (по вертикали) и стоимость мероприятия (по горизонтали)
            </div>
            <div class="stat-container__chart" [ngClass]="data && data.length > 0 ? '' : 'stat-container__chart_hidden'">
                <div class="stat-container__chart-inner"></div>
            </div>
            <div *ngIf="!data || data.length == 0" class="stat-container__no-data">
                нет данных
            </div>
        </div>
    </div>
</div>