<div class="page-header">
    <div class="page-header__title-container">
        <div class="page-header__title-flex-container">
            <div class="page-header__title">Статистика по стоимости мероприятия</div>
        </div>
    </div>
</div>
<div class="work-area">
    <div class="work-area__content">
        <div class="stat-container">
            <div class="stat-container__description">
                Процент поступивших от участников мероприятия (по вертикали) и стоимость мероприятия (по горизонтали)
            </div>
            <ng-container *ngIf="data && data.length > 0">
                <div class="stat-container__year-dimension flex-container">
                    <a *ngFor="let item of data"
                       class="stat-container__year-dimension-item flex-container__item"
                       [ngClass]="selected == item ? 'stat-container__year-dimension-item_selected' : ''"
                       (click)="yearClick(item)">{{item.year}}</a>
                </div>
            </ng-container>
            <div class="stat-container__chart" [ngClass]="data && data.length > 0 ? '' : 'stat-container__chart_hidden'">
                <div class="stat-container__chart-inner"></div>
            </div>
            <ng-container *ngIf="data && data.length > 0">
                <div class="stat-container__legend" *ngIf="selected">
                    <div class="legend-item flex-container ">
                        <div class="legend-item__color" [style.backgroundColor]="'#d70206'"></div>
                        <div class="legend-item__name">Сумма затрат на мероприятие (руб.)</div>
                    </div>
                </div>
            </ng-container>
            <div *ngIf="!data || data.length == 0" class="stat-container__no-data">
                нет данных
            </div>
        </div>
    </div>
</div>