<div class="page-header">
    <div class="page-header__title-container">
        <div class="page-header__title-flex-container">
            <div class="page-header__title">Статистика по баллам ЕГЭ</div>
        </div>
    </div>
</div>
<div class="work-area">
<div class="work-area__content">
    <div class="stat-container">
        <div class="stat-container__year-dimension flex-container">
            <a *ngFor="let item of data"
               class="stat-container__year-dimension-item flex-container__item"
               [ngClass]="selected == item ? 'stat-container__year-dimension-item_selected' : ''"
               (click)="yearClick(item)">{{item.year}}</a>
        </div>
        <div class="stat-container__chart">
            <div class="stat-container__chart-inner"></div>
        </div>
        <div class="stat-container__legend" *ngIf="selected">
            <div *ngFor="let item of selected.value; index as i"
                 class="legend-item flex-container"
                 [ngClass]="getLegendClass(item.subject)"
                 (click)="onLegendClick(item.subject)">
                <div class="legend-item__color" [style.backgroundColor]="getColorStyle(i, item.subject)"></div>
                <div class="legend-item__name">{{item.subject}}</div>
            </div>
        </div>
    </div>
    </div>
</div>