.month {
}

.week {
    width: 100%;
}

.week-6 {
    height: 16.66666%;
}

.week-5 {
    height: 20%;
}

.week-4 {
    height: 25%;
}

.week-title {
    width: 14.28571%;
    height: 20px;
    float: left;
    padding: 5px 0px 4px 10px;
    border-right: 1px solid #afadad;
    border-top: 1px solid #afadad;
}

.calendar-day {
    border-bottom: 1px solid #afadad;
    border-right: 1px solid #afadad;
    border-radius: 1px;
    width: 14.28571%;
    height: 100%;
    float: left;
}

.border-left {
    border-left: 1px solid #afadad;
}

.day-caption {
    padding: 5px 0px 4px 10px;
}

.day-caption span {
    text-align: center;
}

.today {
    background-color: rgba(37, 193, 249, 0.66);
    border-radius: 50%;
    padding: 4px;
}

.event-row {
    background-color: #d8e4e4;
    border-radius: 3px;
    margin: 3px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prev-next-month-day {
    opacity: 0.45;
}

.month-panel {
    height: 48px;
    background-color: #d2d2d2;
    padding-top: 7px;
}

.arrows {
    margin-left: 40%;
}

.arrows a {
    margin-right: 7px;
    text-decoration: none;
}

.fa-arrows {
    color: #7e7b7b;
}

.current-month {
    font-size: 23px;
}

.event-card {
    width: 475px;
    z-index: 1000;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.event-title {
    background-color: #d8e4e4;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 75px;
    padding: 8px 0px 0px 10px;
}

.event-content {
    height: 125px;
    padding: 8px 0px 0px 10px;
}

.event-card-glyphicons {
    position: absolute;
    padding-right: 20px;
    font-size: 20px;
}

.icon-text {
    padding-bottom: 5px;
}

.icon-text span {
    position: absolute;
    font-size: 17px;
    margin-right: 7px;
    margin: 2px 7px 0px 0px;
}

.icon-text div {
    text-indent: 25px;
}

.event-card-name {
    font-size: 21px;
    font-weight: 700;
}

.event-card-type {
    opacity: 0.85;
    width: 50%;
}
