<div #panel class="month-panel">
    <span onmousedown="return false" onselectstart="return false">
        <span role="button" class="arrows">
            <a class="pointer"
               (click)="onPrevMonthClick()">
                <i _ngcontent-c6="" aria-hidden="true" class="fa-arrows fa fa-angle-left"></i>
            </a>
            <a class="pointer"
               (click)="onNextMonthClick()">
                <i _ngcontent-c6="" aria-hidden="true" class="fa-arrows fa fa-angle-right"></i>
            </a>
        </span>

        <span onmousedown="return false" onselectstart="return false" role="button" class="current-month" *ngIf="currentMonth"> {{currentMonth.name}} {{currentDate.getFullYear()}}</span>
    </span>
</div>
<div [style.height.px]="calendarHeight">
    <ng-container *ngIf="currentMonth">
        <div class="week-title border-left">Пн</div>
        <div class="week-title">Вт</div>
        <div class="week-title">Ср</div>
        <div class="week-title">Чт</div>
        <div class="week-title">Пт</div>
        <div class="week-title">Сб</div>
        <div class="week-title">Вс</div>
        <div *ngFor="let week of currentMonth.weeks; index as i"
             class="week"
             [ngClass]="weekClass">
            <day *ngFor="let eventDay of week.days; index as j"
                 [week]="i+1"
                 [dayOfWeek]="j+1"
                 [weekCount]="currentMonth.weeks.length"
                 [currentDate]="currentDate"
                 [item]="eventDay"
                 (eventClick)="onEventClick($event)"
                 (click)="onDayClick(eventDay.date)"
                 (eventDblclick)="onEventDblclick($event)">
                <div>{{i}}</div>
            </day>
        </div>
    </ng-container>
</div>

<event-card #eventCard (editClick)="onEditClick($event)" (deleteClick)="onDeleteClick($event)" (visibleChange)="onEventCardVisibleChange($event)"></event-card>

<ng-container windowResizeEventHandler (resize)="onResize($event)"></ng-container>
