
<div class="month">
    <div class="week">
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
    </div>
    <div class="week">
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
    </div>
    <div class="week">
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
    </div>
    <div class="week">
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
        <day></day>
    </div>
</div>

