.month {

}

.week {
    width: 100%;
    display: inline-block;
}

.week-row {

}

.calendar-day {
    /*border: 1px solid #e0e0e0;*/
    /*width: 150px;*/
    /*height: 120px;*/

    width: 14%;
    height: 100%;
    float: left;
}

.day-caption {
    padding: 5px 0px 4px 10px;
}

.event-row {
    border-radius: 3px;
    margin: 3px;
    text-align: center;
}
