<div class="calendar-day border-right"
     [ngClass]="dayOfWeek==1?'border-left':''">
    <div [ngClass]="!isCurrentMonth(item)?'prev-next-month-day':''">
        <div class="day-caption">
            <span [ngClass]="isToday(item.date)?'today':''">{{getDay(item)}}</span>
        </div>
        <div *ngFor="let row of item.events"
             class="event-row"
             role="button"
             onmousedown="return false"
             onselectstart="return false"
             (click)="onEventClick($event, row)"
             [ngClass]="!isCurrentMonth(item)?'prev-next-month-day':''"
             [style.background-color]="row.color">{{row.name}}</div>
    </div>
</div>

