<div class="calendar-day border-right"
     [ngClass]="isMon?'border-left':''">
    <div [ngClass]="!item.currentMonth?'prev-next-month-day':''">
        <div class="day-caption">{{item.day}}</div>
        <div *ngFor="let row of item.events"
             class="event-row"
             role="button"
             onmousedown="return false"
             onselectstart="return false"
             (click)="onEventClick($event, row)"
             [ngClass]="!item.currentMonth?'prev-next-month-day':''"
             [style.background-color]="row.color">{{row.name}}</div>
    </div>
</div>

