
<div class="content-wrapper content-with-margins">
    <div class="event-name">
        <title-input [(value)]="name" [defaultText]="'Название мероприятия'"></title-input>
    </div>
    
    <div class="property">
        <div>Тип</div>
        <select (change)="model.type = $event.target.value">
            <option *ngFor="let item of types;" value="{{item.value}}" [selected]="item.value==model.type">
                {{item.caption}}
            </option>
        </select>
    </div>
    
    <div class="property" *ngIf="model.type==1 || model.type==2">
        <div>Предмет</div>
        <select (change)="onSubjectChange($event.target.value)">
            <option *ngFor="let item of subjects;" value="{{item.id}}" [selected]="item==model.subject">
                {{item.name}}
            </option>
        </select>
    </div>

    <div class="property" *ngIf="model.type==1">
        <div>Длительность (ч.)</div>
        <input class="number" type="number" [(ngModel)]="model.duration" />
    </div> 

    <div class="property">
        <div>Информация</div>
        <textarea class="info" [(ngModel)]="model.info"></textarea>
    </div> 
    
    <div class="property">
        <div>Комментарий</div>
        <textarea class="comment" [(ngModel)]="model.comment"></textarea>
    </div>
    
    <div>
        <div class="property">
            <div>Проведение</div>
            <div>
                <span class="pointer glyphicon glyphicon-plus" (click)="onAddExecution()"></span>
            </div>
        </div>
        <list-row [items]="executions" (editClick)="onEditExecution($event)" (deleteClick)="onDeleteExecution($event)"></list-row>
    </div>
    
    <div class="buttons">
        <a class="ui-btn ui-btn-primary btn-left" (click)="onSaveClick($event)">
            <div class="ui-btn-caption">Сохранить</div>
        </a>
        <a class="ui-btn ui-btn-primary" (click)="onCancelClick($event)">
            <div class="ui-btn-caption">Отмена</div>
        </a>
    </div>
</div>

<execution-editor #executionEditor (apply)="onExecutionApply($event)"></execution-editor>