<div class="content-wrapper content-with-margins">
    <div class="event-name">
        <title-input [(value)]="name" [defaultText]="'Название мероприятия'"></title-input>
    </div>
    <div class="property">
        <div>Тип</div>
        <select (change)="model.type = $event.target.value">
            <option *ngFor="let item of types;" value="{{item.value}}" [selected]="item.value==model.type">
                {{item.caption}}
            </option>
        </select>
    </div>
    <div class="property" *ngIf="model.type==1 || model.type==2">
        <div>Предмет</div>
        <select (change)="onSubjectChange($event.target.value)">
            <option *ngFor="let item of subjects;" value="{{item.id}}" [selected]="item==model.subject">
                {{item.name}}
            </option>
        </select>
    </div>
    <div class="property" *ngIf="model.type==1">
        <div>Длительность (ч.)</div>
        <input class="number" type="number" [(ngModel)]="model.duration" />
    </div>
    <div class="property">
        <div>Информация</div>
        <textarea class="info" [(ngModel)]="model.info"></textarea>
    </div>
    <div class="property">
        <div>Комментарий</div>
        <textarea class="comment" [(ngModel)]="model.comment"></textarea>
    </div>
    <div>
        <div class="property">
            <div>Проведение</div>
            <div>
                <span class="pointer glyphicon glyphicon-plus" (click)="onAddExecution()"></span>
            </div>
        </div>
        <table *ngIf="executions && executions.length > 0">
            <tbody>
            <ng-container *ngFor="let item of executions">
                <tr class="pointer item-row with-hover" (click)="executionClick(item)">
                    <td class="row-caption" colspan="2">{{item.address.caption}}</td>
                    <td>
                        <span class="pointer glyphicon glyphicon-pencil" (click)="onEditExecution(item)"></span>
                    </td>
                    <td>
                        <span class="pointer glyphicon glyphicon-trash" (click)="onDeleteExecution(item)"></span>
                    </td>

                </tr>
                <ng-container *ngIf="dropDownExecution && item===dropDownExecution">
                    <tr class="info-row">
                        <td>Адрес</td>
                        <td>{{item.address.caption}}</td>
                    </tr>
                    <tr class="info-row">
                        <td>Даты проведения</td>
                    </tr>
                    <ng-container *ngFor="let date of item.dates">
                        <tr class="info-row">
                            <td></td>
                            <td>{{generateDate(date)}}</td>
                        </tr>
                    </ng-container>
                </ng-container>
            </ng-container>
            </tbody>
        </table>
    </div>
    <div>
        <div class="property">
            <div>Затраты</div>
            <div>
                <span class="pointer glyphicon glyphicon-plus" (click)="onAddPurchase()"></span>
            </div>
        </div>
        
        <table *ngIf="purchases && purchases.length > 0">
            <tbody>
            <ng-container *ngFor="let item of purchases">
                <tr class="pointer item-row with-hover" (click)="purchaseClick(item)">
                    <td class="row-caption">{{item.name}}, {{item.price}} р.</td>
                    <td>
                        <span class="pointer glyphicon glyphicon-pencil" (click)="onEditPurchase(item)"></span>
                    </td>
                    <td>
                        <span class="pointer glyphicon glyphicon-trash" (click)="onDeletePurchase(item)"></span>
                    </td>

                </tr>
                <ng-container *ngIf="dropDownPurchase && item===dropDownPurchase">
                    <tr class="info-row">
                        <td>{{item.description}}</td>
                    </tr>
                </ng-container>
            </ng-container>
            </tbody>
        </table>
    </div>
    <div>
        <div class="property">
            <div>Подразделения</div>
            <div>
                <span class="pointer glyphicon glyphicon-pencil" (click)="onEditDepartments()"></span>
            </div>
        </div>
        <table class="margin-5-10" *ngIf="model.departments && model.departments.length > 0">
            <tbody>
                <tr class="item-row" *ngFor="let item of model.departments">
                    <td>
                        <span class="color" [style.backgroundColor]="item.color"></span>
                    </td>
                    <td class="department-name">{{item.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="property">
            <div>Организаторы</div>
            <div>
                <span class="pointer glyphicon glyphicon-pencil" (click)="onEditOrganizers()"></span>
            </div>
        </div>
        <table class="margin-5-10" *ngIf="model.organizers && model.organizers.length > 0">
            <tbody>
                <tr class="item-row" *ngFor="let item of model.organizers">
                    <td>{{item.contactInfo.fullName}}</td>
                    <td class="appointment">{{item.appointment}}</td>
                    <td>{{item.contactInfo.phoneNumber}}</td>
                    <td>{{item.contactInfo.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="property">
            <div>Лекторы</div>
            <div>
                <span class="pointer glyphicon glyphicon-pencil" (click)="onEditLecturers()"></span>
            </div>
        </div>
        <table class="margin-5-10" *ngIf="model.lecturers && model.lecturers.length > 0">
            <tbody>
                <tr class="item-row" *ngFor="let item of model.lecturers">
                    <td>{{item.contactInfo.fullName}}</td>
                    <td>{{item.appointment}}</td>
                    <td>{{item.contactInfo.phoneNumber}}</td>
                    <td>{{item.contactInfo.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <div class="property">
            <div>Волонтеры</div>
            <div>
                <span class="pointer glyphicon glyphicon-pencil" (click)="onEditVolunteers()"></span>
            </div>
        </div>
        <table class="margin-5-10" *ngIf="model.volunteers && model.volunteers.length > 0">
            <tbody>
                <tr class="item-row" *ngFor="let item of model.volunteers">
                    <td class="person-name">{{item.fullName}}</td>
                    <td>{{item.group.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons">
        <a class="ui-btn ui-btn-primary btn-left" (click)="onSaveClick($event)">
            <div class="ui-btn-caption">Сохранить</div>
        </a>
        <a class="ui-btn ui-btn-primary" (click)="onCancelClick($event)">
            <div class="ui-btn-caption">Отмена</div>
        </a>
    </div>
</div>

<execution-editor #executionEditor (apply)="onExecutionApply($event)"></execution-editor>
<departments-selector #departmentsSelector (apply)="onDepartmentsApply($event)"></departments-selector>
<volunteers-selector #volunteersSelector (apply)="onVolunteersApply($event)"></volunteers-selector>
<employees-selector #lecturersSelector title="Лекторы" (apply)="onLecturersApply($event)"></employees-selector>
<employees-selector #organizersSelector title="Организаторы" (apply)="onOrganizersApply($event)"></employees-selector>
<purchase-editor #purchaseEditor (apply)="onPurchaseApply($event)"></purchase-editor>