.event-name {
    margin: 15px 0px;
    min-height: 52px;
}

select {
    font-size: 16px;
}

textarea {
    width: 450px;
    resize: none;
}

.comment {
    height: 80px;
}

.info {
    height: 100px;
}

.property {
    width: 100%;
    display: inline-block;
}

.property > div {
    margin-top: 1px;
    font-size: 19px;
    margin-right: 20px;
    float: left;
    min-width: 160px;
}

.modal-property {
    width: 90%;
    display: inline-block;
    margin: 5px 15px;
}

.modal-property > div {
    margin-top: 1px;
    font-size: 16px;
    margin-right: 20px;
    float: left;
    min-width: 140px;
}

.edit-table {
    margin-left: 25px;
}

.edit-table > tbody > tr > td {
    padding: 5px 10px 5px 0px;
}

.modal-property > select {
    font-size: 14px;
}

.modal-property > div > span {
    font-size: 16px;
}

.buttons {
    margin-top: 100px;
}

.btn-left {
    float: left;
    margin-right: 10px;
}

.glyphicon {
    font-size: 19px;
    color: #8c8c8c;
}

.number {
    text-align: right;
    width: 70px;
}

.item-row > td {
    padding: 6px;
}

.department-name {
    min-width: 300px;
}

.color {
    border-radius: 50%;
    padding: 4px 12px;
    border: 2px solid #a3a3a5;
}

.departments-select {
    width: 90%;
    margin: 10px 10px;
}