<div class="content-wrapper">
    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div>ФИО</div>
        <input class="input_big" [(ngModel)]="fullName" />
    </div>
    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div>Телефон</div>
        <input [(ngModel)]="phoneNumber" />
    </div>
    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div>Email</div>
        <input [(ngModel)]="email" />
    </div>
    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div>Тип участника</div>
        <select (change)="type = $event.target.value">
            <option *ngFor="let item of attendeeTypes;" value="{{item.value}}" [selected]="item==type">
                {{item.caption}}
            </option>
        </select>
    </div>
    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div>Пол</div>
        <select (change)="sex = $event.target.value">
            <option *ngFor="let item of sexTypes;" value="{{item.value}}" [selected]="item==sex">
                {{item.caption}}
            </option>
        </select>
    </div>
    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div>Год окончания школы</div>
        <input [(ngModel)]="yearOfGraduation" />
    </div>
    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div>Населенный пункт</div>
        <search-selector [value]="city"
                         [data]="allCities"
                         [displayFunc]="cityDisplayFunc"
                         (valueChange)="cityChange($event)"></search-selector>
    </div>
    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div>Школа</div>
        <search-selector [value]="school"
                         [data]="allSchools"
                         [displayFunc]="schoolDisplayFunc"
                         (valueChange)="schoolChange($event)"></search-selector>
    </div>

    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div style="float: left; margin-right: 10px;">Интересующие программы</div>
        <span class="pointer glyphicon glyphicon-plus" (click)="addProgram()"></span>
    </div>
    
    <ng-container *ngFor="let program of selectedPrograms; index as i">
        <div class="content-wrapper__item content-wrapper__item_margin_s">
            <search-selector [value]="program"
                             [data]="getPrograms(program)"
                             [displayFunc]="programDisplayFunc"
                             (valueChange)="programChange($event, i)"></search-selector>
        </div>
    </ng-container>
    

    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div>Логин</div>
        <input [(ngModel)]="login" />
    </div>
    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div>Пароль</div>
        <input [(ngModel)]="password" type="password" />
    </div>
    <div class="content-wrapper__item content-wrapper__item_margin_s">
        <div>Повторите пароль</div>
        <input [(ngModel)]="repeat" type="password" />
    </div>
    <div class="content-wrapper__item content-wrapper__item_margin_m">
        <div class="flex-container__item flat-button flat-button__dark-blue" (click)="onSignUpClick()">
            <a class="flat-button__caption">Зарегистрироваться</a>
        </div>
    </div>
</div>