<div class="page-header">
    <div class="page-header__title-container">
        <div class="page-header__title-flex-container">
            <div class="page-header__title">Статистика по времени года</div>
        </div>
    </div>
</div>
<div class="work-area">
    <div class="work-area__content">
        <div class="stat-container">
            <div class="stat-container__description">
                Зависимость посещаемости мероприятий от времени года (среднее число участиков)
            </div>
            <ng-container *ngIf="data && data.length > 0">
                <div class="stat-container__year-dimension flex-container">
                    <a *ngFor="let item of data"
                       class="stat-container__year-dimension-item flex-container__item"
                       [ngClass]="selected == item ? 'stat-container__year-dimension-item_selected' : ''"
                       (click)="yearClick(item)">{{item.year}}</a>
                </div>
            </ng-container>
            <div class="stat-container__chart" [ngClass]="data && data.length > 0 ? '' : 'stat-container__chart_hidden'">
                <div class="stat-container__chart-inner stat-container__chart-inner_pie"></div>
            </div>
            <div *ngIf="!data || data.length == 0" class="stat-container__no-data">
                нет данных
            </div>
        </div>
    </div>
</div>