<bs-modal #modal class="">
    <bs-modal-header>
        <h4 class="modal-title">Проведение мероприятия</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="modal-property">
            <div>Адрес</div>
            <select (change)="address = $event.target.value">
                <option *ngFor="let item of addresses;" value="{{item}}" [selected]="this.address && item.id == this.address.id">
                    {{item.caption}}
                </option>
            </select>
        </div>
        <div>
            <div class="modal-property">
                <div>Даты проведения</div>
                <div>
                    <span class="pointer glyphicon glyphicon-plus" (click)="onAddExecution()"></span>
                </div>
            </div>
            
            <table *ngIf="dates" class="edit-table">
                <tbody>
                <tr *ngFor="let item of dates" class="pointer">
                    <td>
                        <input [value]="getDate(item.date) | date:'shortDate'" (input)="onDateChange($event.target.value, item)" (keydown)="keyPressHandler($event)"/>
                    </td>
                    <td>
                        <input [value]="item.startTime" (input)="onStartTimeChange($event.target.value, item)"/>
                    </td>
                    <td>
                         <input [value]="item.endTime" (input)="onEndTimeChange($event.target.value, item)"/>
                    </td>
                    <td>
                        <span class="pointer glyphicon glyphicon-trash" (click)="onDelete(item)"></span>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        

    </bs-modal-body>
    <bs-modal-footer>
        <a class="ui-btn ui-btn-primary btn-left ui-btn-small" (click)="onApplyClick()">
            <div class="ui-btn-caption">Сохранить</div>
        </a>
        <a class="ui-btn ui-btn-primary ui-btn-small" (click)="onCancelClick()">
            <div class="ui-btn-caption">Отмена</div>
        </a>
    </bs-modal-footer>
</bs-modal>