<bs-modal #modal class="">
    <bs-modal-header>
        <h4 class="modal-title">Волонтеры</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="inline">
            <input #searchInput class="search-row search-row__small left" [(ngModel)]="searchText" placeholder="Поиск"/>
            <span class="pointer fa fa-close crear-btn" (click)="clearSearchText()"></span>
            <div class="action show-selected left" (click)="onShowClick()">{{showCaption}}</div>
        </div>
        <table class="departments-select" *ngIf="items && items.length > 0">
            <tbody>
            <tr *ngFor="let item of items" class="pointer item-row with-hover" (click)="rowClick(item)">
                <td class="td-10">
                    <input type="checkbox" [checked]="item.checked" (click)="onChecked($event, item)"/>
                </td>
                <td>{{item.volunteer.fullName}}</td>
                <td>{{item.volunteer.group.name}}</td>
            </tr>
            </tbody>
        </table>
        <div class="margin-5-10" *ngIf="!items || items.length == 0">нет результатов</div>
    </bs-modal-body>
    <bs-modal-footer>
        <a class="ui-btn ui-btn-primary btn-left ui-btn-small" (click)="onApplyClick()">
            <div class="ui-btn-caption">Сохранить</div>
        </a>
        <a class="ui-btn ui-btn-primary ui-btn-small" (click)="onCancelClick()">
            <div class="ui-btn-caption">Отмена</div>
        </a>
    </bs-modal-footer>
</bs-modal>