<div class="color-picker-container">
    <div class="color-picker-container__content">
        <div #sbSelector
             class="sb-selector"
             [style.background-color]="sbBackground">
            <div class="sb-selector__shadow" (mousedown)="onSbSelectorMouseDown($event)"></div>
            <div class="sb-selector__gradient sb-selector__gradient_white"></div>
            <div class="sb-selector__gradient sb-selector__gradient_black"></div>
            <div class="sb-selector__picker"
                 [style.left.px]="sbSelectorPositionX"
                 [style.top.px]="sbSelectorPositionY"></div>
        </div>
    </div>
    
    <div class="color-picker-container__content color-picker-container__content_right">
        <div class="hue-selector">
            <div class="hue-selector__slider" [style.left.px]="hueSelectorPosition"></div>
            <div #hueSelector
                 class="hue-selector__gradient"
                 (mousedown)="onHueSelectorMouseDown($event)"></div>
        </div>
        <div class="color-model">
            <div class="color-model__value">H</div>
            <div class="color-model__value">
                <input class="color-model__value-input"
                       [value]="hue"
                       [format]="'int'"
                       (change)="onHslChange($event.target.value, 'hue')"
                       number />
            </div>
            <div class="color-model__value">S</div>
            <div class="color-model__value">
                <input class="color-model__value-input"
                       [value]="saturationHsl"
                       [format]="'int'"
                       (change)="onHslChange($event.target.value, 'saturation')"
                       number />
            </div>
            <div class="color-model__value">L</div>
            <div class="color-model__value">
                <input class="color-model__value-input"
                       [value]="lightness"
                       [format]="'int'"
                       (change)="onHslChange($event.target.value, 'lightness')"
                       number />
            </div>
        </div>
        <div class="color-model">
            <div class="color-model__value">R</div>
            <div class="color-model__value">
                <input class="color-model__value-input"
                       [value]="red"
                       [format]="'int'"
                       (change)="onRgbChange($event.target.value, 'red')"
                       number/>
            </div>
            <div class="color-model__value">G</div>
            <div class="color-model__value">
                <input class="color-model__value-input"
                       [value]="green"
                       [format]="'int'"
                       (change)="onRgbChange($event.target.value, 'green')"
                       number/>
            </div>
            <div class="color-model__value">B</div>
            <div class="color-model__value">
                <input class="color-model__value-input"
                       [value]="blue"
                       [format]="'int'"
                       (change)="onRgbChange($event.target.value, 'blue')"
                       number/>
            </div>
        </div>
        <div class="hex-container">
            <div class="hex-container__current-color"
                 [style.background-color]="hex"></div>
            <input class="hex-container__input"
                   [value]="hex"
                   [format]="'string'"
                   [allowedSymbols]="allowedHexSymbols"
                   [regex]="hexRegex"
                   (change)="onHexChange($event.target.value)"
                   number/>
        </div>
    </div>
</div>

<ng-container WindowMouseEventHandler
              (mousemove)="onTheadMouseMove($event)"
              (mouseleave)="onTheadMouseLeave($event)"
              (mouseup)="onTheadMouseUp($event)"></ng-container>