<div class="color-picker-container">
    <div class="color-picker-container__content">
        <div class="tone-selector">
            <div class="tone-selector__gradient tone-selector__gradient_white"></div>
            <div class="tone-selector__gradient tone-selector__gradient_black"></div>
        </div>
    </div>
    
    <div class="color-picker-container__content color-picker-container__content_right">
        <div class="color-selector">
            <div class="color-selector__slider"></div>
            <div class="color-selector__gradient"></div>
        </div>
        <div class="">
            <div class="">
                <span></span>
                <input value="23" />
            </div>
            <div class="">
                <span></span>
                <input value="23" />
            </div>
            <div class="">
                <span></span>
                <input value="23" />
            </div>
        </div>
        <div class=""></div>
    </div>
</div>