<div class="event-card"
     (click)="onClick($events)"
     [style.top]="top +'px'"
     [style.left]="left+'px'"
     [style.display]="visible?'block':'none'"
     [style.width]="width +'px'"
     *ngIf="event">
    <div class="event-title" [style.backgroundColor]="event.color">
        <div class="inline event-card-glyphicons">
            <div class="right">
                <span class="pointer glyphicon glyphicon-pencil" (click)="onEdit($event)"></span>
                <span class="pointer glyphicon glyphicon-trash" (click)="onDelete($event)"></span>
            </div>
        </div>
        <div class="event-card-type">{{type}}</div>
        <div class="event-card-name">{{event.name}}</div>
    </div>
    <div class="event-content">
        <div class="icon-text">
            <span class="fa fa-clock-o"></span>
            <div>{{event.dateAndTime}}</div>
        </div>
        <div *ngIf="event.address" class="icon-text">
            <span class="fa fa-location-arrow"></span>
            <div>{{event.address}}</div>
        </div>
        <div class="icon-text">
            <span class="fa fa-newspaper-o"></span>
            <div>{{event.info}}</div>
        </div>
        <span class="fa fa-user-circle" style="font-size: 20px;position: absolute;right: 7px;bottom: 5px;cursor: pointer;" (click)="onAttendeesClick()"></span>
    </div>
</div>

<ng-container windowResizeEventHandler (resize)="onResize($event)"></ng-container>
<ng-container documentClickEventHandler (click)="onDocumentClick($event)"></ng-container>

<attendees-selector #attendeesSelector></attendees-selector>