<div class="page-header">
    <div class="page-header__title-container">
        <div class="page-header__title-flex-container">
            <div class="page-header__title">Предметы</div>
        </div>
    </div>
</div>
<div class="work-area">
    <div class="work-area__header">
        <input #searchInput class="work-area__header-search search-row" [(ngModel)]="searchText" placeholder="Поиск"/>
        <div class="work-area__header-button flat-button flat-button__green" (click)="onAddClick()">
            <a class="flat-button__caption">Добавить</a>
        </div>
    </div>
    <div class="work-area__content">
        <div *ngFor="let subject of subjects" class="dictionary-block">
            <div class="dictionary-block__main-info">
                <div class="dictionary-block__main-info-item">
                    <input type="checkbox" />
                </div>
                <div class="dictionary-block__main-info-item">{{subject.name}}</div>
                <div class="dictionary-block__main-info-item dictionary-block__main-info-item_right">
                    <span class="pointer glyphicon glyphicon-pencil" (click)="onEditClick(subject)"></span>
                </div>
                <div class="dictionary-block__main-info-item">
                    <span class="pointer glyphicon glyphicon-trash" (click)="onDeleteClick(subject)"></span>
                </div>
            </div>
            <div class="dictionary-block__details"></div>
        </div>
    </div>
</div>

<subject-modal #modal (apply)="onModalApply($event)"></subject-modal>