table {
    margin: 5px 10px;
}

tr {
    min-width: 300px;
}

td {
    padding: 6px;
}

.item-row:nth-child(even) {
    background-color: #f7f7f7;
}

.item-row:nth-child(odd) {
    background-color: #ededed;
}

.row-caption {
    min-width: 545px;
}

.info-row > td {
    padding: 0px 6px;
    min-width: 150px;
}